<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:drk="http://typo3.org/ns/Drk/Template/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="formengine-field-item t3js-formengine-field-item drk-logo-preview">
    <div class="form-wizards-wrap">
        <div class="form-wizards-element">
            <div class="form-control-wrap">
                {description -> f:format.raw()}
            </div>
        </div>
    </div>
</div>
